# Supabase
SUPABASE_URL=https://supabase.server.osbrai.com
SUPABASE_SERVICE_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc2OTY3NjEyMCwiZXhwIjo0OTI1MzQ5NzIwLCJyb2xlIjoic2VydmljZV9yb2xlIn0.okE4Qyz_tNy9YBrBLfj4Gfhf9sY_3WC7zpillXRtR-o

# Admin
ADMIN_PASSWORD=burgerparty2026
